h1{
    font-family: 'canal-demi-plain';
    font-size: 22px;
    text-transform: uppercase;
}

div{
    background-color: #f4f8eB;
    margin: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}
