#main{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

#info{
    font-size: 12px;
    text-align: left;
    color: #464646;
}

h1{
    font-family: 'canal-demi-plain';
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
}

hr{
    border: none;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #464646;
}
