<div class="main" id="tab1">
    <h1>Przelicznik kuchenny</h1>
    <div class="droplist"><app-droplist text="Produkt"></app-droplist></div>
    <div class="textbox-container">
        <div class="textbox"><app-textbox text="mililitr"></app-textbox></div>
        <div class="textbox"><app-textbox text="gram"></app-textbox></div>
    </div>
    <div class="textbox-container">
        <div class="textbox"><app-textbox text="łyżeczka"></app-textbox></div>
        <div class="textbox"><app-textbox text="łyżka"></app-textbox></div>
        <div class="textbox"><app-textbox text="szklanka"></app-textbox></div>
    </div>
    <hr/>
    <div class="info">
        <p class="no-margin">1 szklanka ma pojemność 250 ml</p>
        <p class="no-margin">1 łyżka ma pojemność 15 ml</p>
        <p class="no-margin">1 łyżeczka ma pojemność 5 ml</p>
    </div>
</div>

<div class="main" id="tab2">
    <h1>Przelicznik jednostek</h1>
    <div class="textbox-container">
        <div class="textbox" [ngStyle]="{'width': '50%'}"><app-textbox text="ilość"></app-textbox></div>
        <div class="droplist" [ngStyle]="{'width': '50%'}"><app-droplist text="jednostka"></app-droplist></div>
    </div>
    <h1>Przelicznik jednostek</h1>
    <div class="textbox-container">
        <div class="textbox" [ngStyle]="{'width': '50%'}"><app-textbox text="ilość"></app-textbox></div>
        <div class="droplist" [ngStyle]="{'width': '50%'}"><app-droplist text="jednostka"></app-droplist></div>
    </div>
    <h1>Przelicznik wag</h1>
    <div class="textbox-container">
        <div class="textbox"><app-textbox text="stopnie Celsjusza"></app-textbox></div>
        <div class="textbox"><app-textbox text="stopnie Fahrenheita"></app-textbox></div>
    </div>
</div>

<div class="main" id="tab3">
    <h1>Przelicznik foremek</h1>
    <h2>Twoja foremka</h2>
    <div class="textbox-container">
        <div class="textbox"><app-textbox text="długość"></app-textbox></div>
        <div class="textbox"><app-textbox text="szerokość"></app-textbox></div>
    </div>
    <div class="textbox-container">
        <div class="textbox"><app-radio group="foremka1" text="blacha"></app-radio></div>
        <div class="textbox"><app-radio group="foremka1" text="tortownica"></app-radio></div>
    </div>
    <h2>Foremka z przepisu</h2>
    <div class="textbox-container">
        <div class="textbox"><app-radio group="foremka2" text="blacha"></app-radio></div>
        <div class="textbox"><app-radio group="foremka2" text="tortownica"></app-radio></div>
    </div>
    <div class="textbox-container" [ngStyle]="{'width': '50%'}">
        <div class="textbox"><app-textbox text="średnica"></app-textbox></div>
    </div>
    <h1>2.50</h1>
    <h2>Do foremki powinieneś dodać 2.5 razy więcej składników, niż w przepisie.</h2>
</div>
