h1{
    font-family: 'canal-demi-plain';
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
}

h2{
    font-family: 'canal-light-plain';
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}

hr{
    border: none;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    background-color: #626262;
}

.main{
    margin-top: 34px;
    margin-left: 10%;
    margin-right: 10%;
}

.droplist{
    margin-bottom: 16px;
}

.textbox-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.textbox{
    width: 100px;
    flex: 1;
}

.info{
    font-size: 14px;
    text-align: left;
    color: #626262;
}

#tab1{
    display: block;
}

#tab2{
    display: none;
}

#tab3{
    display: none;
}

#blacha1{
    display: flex;
}

#blacha2{
    display: none;
}

#tortownica1{
    display: none;
}

#tortownica2{
    display: flex;
}
