#main{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

#textboxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#info{
    font-size: 12px;
    text-align: left;
    color: #626262;
}

h1{
    font-family: 'canal-demi-plain';
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
}

hr{
    border: none;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    background-color: #626262;
}
