label{
    width: 100%;
    background-color: #f5f5f5;
}

label:hover{
    background-color: #f0f0f0;
}

label:focus{
    background-color: #ececec;
}

.text, .input{
    padding-left: 6px;
}

.mililitr::before{
    font-family: "FontAwesome";
    content: "\f0c3";
    font-weight: 900;
}

.gram::before{
    font-family: "FontAwesome";
    content: "\f24e";
    font-weight: 900;
}

.lyzeczka::before{
    font-family: "FontAwesome";
    content: "\f2e5";
    font-weight: 900;
}

.lyzka::before{
    font-family: "FontAwesome";
    content: "\f2e5";
    font-weight: 900;
}

.szklanka::before{
    font-family: "FontAwesome";
    content: "\e4f4";
    font-weight: 900;
}
