p{
    color: #ffffff;
    font-family: 'canal-demi-plain';
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.default{
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.highlighted{
    padding: 0;
    margin: 0;
}

.highlighted > .underline > p{
    color: #95c633;
}

.highlighted > .underline::after{
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #95c633;
    position: absolute;
    bottom: 0;
    left: 0;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.element:hover > .underline > p{
    color: #95c633;
    transition: 0.15s ease-in-out;
}

.element:hover > .underline::after{
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #95c633;
    position: absolute;
    bottom: 0;
    left: 0;
}

.underline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
