p{
    color: #ffffff;
    font-family: 'canal-light-plain';
    font-size: 13px;
    text-decoration: none;
}

.default{
    color: #ffffff;
    text-decoration: none;
}

.highlighted{
    color: #95c633;
    text-decoration: underline;
    text-underline-offset: 22px;
    text-decoration-thickness: 3px;
}
