a{
    color: #ffffff;
    font-family: 'canal-light-plain';
    font-size: 12px;
    text-decoration: none;
}

.default{
    color: #ffffff;
    text-decoration: none;
}

.highlighted{
    color: #95c633;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 2px;
}
